body {
  background-color: #222;
  color: #EEE;
}
.container {
  text-align: center;
}
h1 {
  font-family: cursive;
}
#drink-menu, #if-under-21 {
  display: none;
}
#drink-menu {
  border: 3px solid #B2A13C;
  border-radius: 6px;
  position: relative;
  margin-top: 40px;
}
#drink-menu h2 {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #222;
    width: fit-content;
    padding: 0 10px;
    color: #b2a13c;
    font-family: cursive;
}
#drink-menu ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
    font-family: monospace;
    font-size: 20px
}
#if-under-21 {
    border: 3px solid #b2a13c;
    border-radius: 6px;
    padding: 20px;
}
#if-under-21 h2{
  font-family: cursive;
}
#if-under-21 p{
  font-family: monospace;
  font-size: 20px;
}
#diamond-border {
  height: 100px;
  text-align: center;
  transform: rotate(45deg);
  width: 100px;
  margin: 40px auto 0 auto;
  border: 5px dashed #B2A13C;
}
#icon {
  color: #EEE;
  display: table-cell;
  height: 60px;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 60px;
  font-size: 40px;
  padding: 15px 0 0 10px;
}
button {
  font-weight: bold!important;
  color: #222;
  background-color: #EEE;
}
